# Obsidian when I want to edit markdowns visually
.obsidian

# Alacritty current theme, which will be changed frequently
.config/alacritty/current-theme.toml

# Neovim (it has it's own repository)
.config/nvim

# macOS DS_Store
*/.DS_Store
