# Obsidian when I want to edit markdowns visually
.obsidian

# Alacritty current theme, which will be changed frequently
.config/alacritty/current-theme.toml

.config
# All in .config except
!.config/alacritty
!.config/tmux

# macOS DS_Store
**/.DS_Store
